{% extends "base_generic.html" %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'edges' %}">Initialize</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_edges' %}">Add Connections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Custom Connections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exclusions' %}">Exclusions</a>
    </li>
  </ul>

{% endblock %}