{% extends "base_generic.html" %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Initialize</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_edges' %}">Add Connections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'custom' %}">Custom Connections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'exclusions' %}">Exclusions</a>
    </li>
  </ul>
  <h1>Initialize Connections</h1>
  <form action="/citydata/manage/connections/" method="post" style="margin-top:10px; margin-bottom:20px;">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Initialize">
  </form>
  <h2>Current Connections</h2>
  <div id="map">
    {{ my_map|safe }}
  </div>
{% endblock %}